<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="static/css/main.css">
  <title>RFP Finder</title>
  <style media="screen">
    #dropdown-selection select {
      background-color: #4c5057;
      color: white;
      padding: 1%;
      border: none;
      cursor: pointer;
    }
    .recent_download {
      font-weight:bold
    }
    .recent_downloads_div {
      padding-top:2%;
      width: 90%;
      margin: auto;
    }
    .pdf_recent_downloads {
      width: 90%;
      margin:auto;
    }
    .old_downloads_div {
      padding-top:2%;
      width: 90%;
      margin: auto;
    }
    .excel_recent_downloads {
      width: 90%;
      margin:auto;
    }
  </style>
</head>
<body style="padding: 3em 0; background-color:white">
<section class="container max-width-sm">
  <div class="text-component text-center">
    <h1>RFP Finder</h1>

    <form class="" action="/" method="POST" id="dropdown-selection" name="dropdown-selection" enctype="multipart/form-data">
      <select name="dropdown-selection" id="dropdown-selection" onchange="SubmitForm('dropdown-selection')">
        {% for each in dropdown_list %}
          <option value="{{each}}" {% if each == selection %} selected {% endif %}>{{each}}</option>
        {% endfor %}
      </select>
      <noscript><input type="submit" value="Submit" name="dropdown-selection"></noscript>
    </form>
  </div>
  <br>
  {% if last_run == 'Last run: Never' %}
    <p style="text-align:center;">{{last_run}}</p>
  {% else %}
    <p style="text-align:center;">{{last_run.strftime("Last Run: %m/%d/%y at %H:%M")}}</p>
  {% endif %}
  <br>
    {% if selection == 'All Files' %}
      {% if data_dir_len != 0 %}
          <ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
            {% for key,parent_dict_item in data_dir_structure.items() %}
              {% if parent_dict_item == None %}
                <li class="cd-accordion__item cd-accordion__item--has-children-{{key}}">
                  <a class="cd-accordion__label cd-accordion__label--icon-img" href="/download/{{key}}" download><span>{{key}}</span></a>
                </li>
              {% else %}
                <li class="cd-accordion__item cd-accordion__item--has-children-{{key}}">
                  <input class="cd-accordion__input" type="checkbox" name ="group-1{{key}}" id="group-1{{key}}">
                  <label class="cd-accordion__label cd-accordion__label--icon-folder" for="group-1{{key}}"><span>{{key}}</span></label>
                  {% for key2, nested_2 in parent_dict_item.items() %}
                  <ul class="cd-accordion__sub cd-accordion__sub--l1">
                      {% if nested_2 == None %}
                        <li class="cd-accordion__item cd-accordion__item--has-children-{{key2}}">
                          <a class="cd-accordion__label cd-accordion__label--icon-img" href="/download/{{key}}/{{key2}}"><span>{{key2}}</span></a>
                        </li>
                      {% else %}
                          <li class="cd-accordion__item cd-accordion__item--has-children-{{key2}}">
                            <input class="cd-accordion__input" type="checkbox" name ="sub-group-2{{key2}}" id="sub-group-2{{key2}}">
                            <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-2{{key2}}"><span>{{key2}}</span></label>
                            {% for key3, nested_3 in nested_2.items() %}
                              <ul class="cd-accordion__sub cd-accordion__sub--l2">
                                {% if nested_3 == None %}
                                  <li class="cd-accordion__item cd-accordion__item--has-children-{{key3}}">
                                    <a class="cd-accordion__label cd-accordion__label--icon-img" href="/download/{{key}}/{{key2}}/{{key3}}"><span>{{key3}}</span></a>
                                  </li>
                                {% else %}
                                    <li class="cd-accordion__item cd-accordion__item--has-children-{{key3}}">
                                      <input class="cd-accordion__input" type="checkbox" name ="sub-group-level-3{{key3}}" id="sub-group-level-3{{key3}}">
                                      <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-level-3{{key3}}"><span>{{key3}}</span></label>
                                      {% for key4, nested_4 in nested_3.items() %}
                                        <ul class="cd-accordion__sub cd-accordion__sub--l3">
                                          {% if nested_4 == None %}
                                          <li class="cd-accordion__item cd-accordion__item--has-children-{{key4}}">
                                            <a class="cd-accordion__label cd-accordion__label--icon-img" href="/download/{{key}}/{{key2}}/{{key3}}/{{key4}}"><span>{{key4}}</span></a>
                                          </li>
                                          {% else %}
                                            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
                                            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
                                          {% endif %}
                                        </ul>
                                      {% endfor %}
                                    </li>
                                {% endif %}
                              </ul>
                            {% endfor %}
                          </li>
                      {% endif %}
                    </ul>
                  {% endfor %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
      {% else %}
        <p>No data downloaded yet...</p>
        <p>Press the button above and wait for download to complete</p>
      {% endif %}

    {% elif selection == 'Dashboard' %}

      <select>
        {% for rfp in rfp_areas %}
          <option value="{{rfp}}">{{rfp}}</option>
        {% endfor %}
      </select>

    {% elif selection == 'File Downloads' %}
      <h1>Downloads From Last Run</h1>
      <div class="recent_downloads_div">
        {% if len_pdf_recent_rows > 0 %}
          <h4>PDF Files</h4>
          {% for row in pdf_recent_rows %}
            <div class="pdf_recent_downloads">
                <p class="recent_download"><a class="" href="/download{{row[2]}}" download><span>{{row[2]}}\{{row[1]}}</span></a></p>
            </div>
          {% endfor %}
        {% else %}
        {% endif %}
        {% if len_excel_recent_rows > 0 %}
          <h4>Excel Files</h4>
          {% for row in excel_recent_rows %}
            <div class="excel_recent_downloads">
                <p class="recent_download"><a class="" href="/download{{row[2]}}" download><span>{{row[2]}}\{{row[1]}}</span></a></p>
            </div>
          {% endfor %}
        {% else %}
        {% endif %}
      </div>
      <br>

      <ul style="background-color: white;color: black;padding:2%;" class="cd-accordion margin-top-lg margin-bottom-lg">
        <li style="background-color: white;color: black;" class="cd-accordion__item cd-accordion__item--has-children">
          <input style="background-color: white;color: black;" class="cd-accordion__input" type="checkbox" name ="group-1" id="group-1">
          <label style="background-color: white;color: black;" class="cd-accordion__label cd-accordion__label--icon-folder" for="group-1"><span>Old Downloads</span></label>
          <ul style="background-color: white;color: black;" class="cd-accordion__sub cd-accordion__sub--l1">
            {% if len_pdf_old_rows > 0 %}
              {% for row in pdf_old_rows %}
                <li style="background-color: white;color: black;" class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>{{row[2]}}\{{row[1]}}</span></a></li>
              {% endfor %}
            {% else %}
            {% endif %}
          </ul>
        </li>
      </ul>





    {% elif selection == 'Update Files' %}
      <p>Update Complete</p>
    {% else %}
    {% endif %}





</section>

<script type="text/javascript">
  function SubmitForm(formId) {
    return document.getElementById(formId).submit()
  }
</script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
